.rykn0wxx {
  .navbar.fixed-top.fixed-top {
    z-index: 1;
    position: fixed;
    padding-left: 260px;
  }
  .sidebar-mini {
    .navbar.fixed-top.fixed-top {
      padding-left: 80px;
    }
  }
}
