.rykn0wxx {
  .navbar.fixed-top.fixed-top {
    z-index: 1;
    position: fixed;
    padding-left: 260px;
  }
  .sidebar-mini {
    .navbar.fixed-top.fixed-top {
      padding-left: 80px;
    }
  }
  @media (max-width: 991px) {
    .navbar.fixed-top.fixed-top {
      padding: 0.625rem 0 !important;
    }
    .sidebar-toggle {
      display: none;
    }
  }
}
