.rykn0wxx {
  .navbar.fixed-top.fixed-top {
    z-index: 1;
    position: fixed;
    padding-left: 260px;
  }
  .sidebar-mini {
    .navbar.fixed-top.fixed-top {
      padding-left: 80px;
    }
  }
  @media (max-width: 991px) {
    .navbar.fixed-top.fixed-top {
      padding: 0.625rem 0 !important;
    }
    .sidebar-toggle {
      display: none;
    }
  }
  .button_to {
    padding: 0;
    margin: 0;
    position: relative;
    .act-as-link {
      cursor: pointer;
      padding: 3px 15px !important;
      background-color: transparent;
      background-image: none;
      border: 0 solid transparent;
      .material-icons {
        line-height: 20px;
        margin-top: 3px !important;
      }
    }
  }
}
