  <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top navbar-color-on-scroll">
    <div class="container-fluid">
      <div class="navbar-wrapper">
        <a href="!#" id="minimizer" class="sidebar-toggle" role="button">
          <span class="toggler-icon icon-bar"></span>
          <span class="toggler-icon icon-bar"></span>
          <span class="toggler-icon icon-bar"></span>
        </a>
        <span class="navbar-brand">
            <%= content_for?(:navbar_brand) ? yield(:navbar_brand) : "administrate" %>
        </span>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
        <span class="sr-only">Toggle navigation</span>
        <span class="navbar-toggler-icon icon-bar"></span>
        <span class="navbar-toggler-icon icon-bar"></span>
        <span class="navbar-toggler-icon icon-bar"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#pablo">
              <i class="material-icons">dashboard</i>
              <p class="d-lg-none d-md-block">
                Stats
              </p>
            </a>
          </li>
          <li class="nav-item">
            <%= button_to destroy_user_session_path, :class => "act-as-link nav-link", :method => :delete, :data => {position: "bottom", tooltip: "Logout"} do %>
              <%= mi.assignment_ind %>
            <% end %>
          </li>
          <!-- your navbar here -->
        </ul>
      </div>
    </div>
  </nav>