<div class="sidebar" data-color="purple" data-background-color="white">
  <div class="logo">
    <%= link_to  "Admin", admin_root_path, :class => "simple-text logo-normal" %>
  </div>
  <div class="sidebar-wrapper">
    <ul class="nav">
      <li class="nav-item active">
        <a class="nav-link" href="./index.html">
          <i class="material-icons">dashboard</i>
          <p>Dashboard</p>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="./form.html">
          <i class="material-icons">dashboard</i>
          <p>Form</p>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="./table.html">
          <i class="material-icons">dashboard</i>
          <p>Form</p>
        </a>
      </li>
    </ul>
  </div>
</div>