<% title "Landing" %>
<% navbar_brand "Landing" %>

<h1>Page#landing</h1>
<p>Find me in app/views/page/landing.html.erb</p>

<div>
<h4 style="font-weight:300">Font Weight 300</h4>
</div>
<div>
<h4 style="font-weight:400">Font Weight 400</h4>
</div>