<% title "Theme" %>
<% navbar_brand "Theme" %>

<h1>Page#Theme</h1>
<p>Find me in app/views/page/Theme.html.erb</p>

<div class="container">
  <div class="row">
    <div class="col-sm-10 mr-auto ml-auto">
      <fieldset>
        <button class="btn bmd-btn-fab btn-primary">
          <i class="material-icons">face</i>
        </button>
      </fieldset>
    </div>
  </div>
</div>


<%= link_to  "Landing", root_path %>